.margin{
    padding: 10px 10px 10px 10px;
}

.text-center{
    font-family: Sanskrit Text;
}
.coloum1 {
    width: 25%;
}
h1{
font-weight: 600;
}
h3{
   font-family:  Sanskrit Text;
   font-weight: 600;
   font-size: 30px;
}
.BsArrowDown{
font-size: 30px;
}
@media(max-width:700px) {
    .coloum1 {
        width: 100%;
    }
    .text-center{
        font-family: Sanskrit Text;
        font-size: 40px;
    }
    .firstcolomns{
        font-family: Sanskrit Text;
        font-size: 25px;
    }
}

@media(max-width:480px) {
    .coloum1 {
        /* display: none; */
        width: 100%;
    }
}

.coloum2 {
    width: 75%;
}

@media(max-width:700px) {
    .coloum2 {
        width: 100%;
    }
}


@media(max-width:480px) {
    .coloum2 {
        width: 100%;
    }
}


.top-distance{
    margin-bottom: 20px;
}

